/* General */
body {
	margin:0;
	padding-right:5% !important;
	padding-left:5%;
	background:#5e9f3f;
	font-size: 18px;
	font-family: 'Architects Daughter', cursive;
}

h1 {
	margin:0;
	color:#fff;
	font-size: 38px;
	text-align: center;
}

h2 {
	font-size: 26px;
	margin-bottom: 10px;
}

ul {
	margin: 0 0 5px;
	padding-left: 20px;
}

ul li {
	list-style-type:none;
	font-size: 20px;
}

p {
	margin:0 0 5px;
	font-size: 20px;
}

a:focus, a:hover {
	text-decoration:none;
}

/* Buttons */
button {
	margin: 10px auto;
    font-size: 22px;
    padding: 6px 32px;
    border-radius: 4px;
    background: #5e9f3f;
	color: #FFF;
	font-family: 'Architects Daughter', cursive;
	display:block;
}

button:hover {
	opacity:0.7;
}

#checkout2, #checkout3 {
	padding: 6px 27px;
	margin-top:15px;
}

#close {
	float: right;
    font-size: 20px;
	margin-bottom: 12px;
}

/* Content */
.main {
	border-right:2px black solid;
	border-left:2px black solid;
}

.header {
	background:#319400;
	padding: 20px 3%;
}

.content {
	padding-bottom: 20px;
	background:#DE2110;
	margin-left: -15px;
	margin-right: -15px;
}

.content h3 {
	font-size:20px;
}

.content .info {
	margin-left:0;
	margin-right:0;
	background:#fff;
	padding: 10px 5% 10px;
}

.info h2 {
	margin-top:0;
}

.info h3 {
	margin-top: 8px;
    text-align: center;
    line-height: 1.3;
}

.info .info-container {
	padding-left:0;
	padding-right:0;
}

.price ul {
	padding-left:0;
}

.price span {
	float:right;
}

.content .order{
	width:54%;
	overflow: hidden;
}

.content .order p {
	margin:10px 0;
}

.order div {
	float:left;
	width:46%;
	padding-left:20px;
}

.order h2 span:first-child {
	margin-right:50px;
}

.options {
	color: #DE2110;
	padding: 15px 9% 25px;
	
}

.itemTitle, .options h2 {
	text-align:center;
	font-size: 24px;
	color: #319400;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.options .col-lg-3, .options .col-lg-6 {
	padding-left:10px;
	padding-right:10px;
}

.col-inner {
	background-color: #fff;
	border-radius:4px;
	height:93%;
}

.options .col-lg-3 h2, .options .col-lg-6 h2 {
	background-color: #f5f5f5;
	border-bottom:1px solid #ddd;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	padding: 10px 15px;
}

.options .col-lg-3 form, .options .col-lg-6 form  {
	padding:0 5% 3%;
}

.options p {
	font-size: 17px;
    margin-top: 10px;
    line-height: 1.2;
}

.size-options form, .cheese-options form, .sauce-options form, .crust-options form {
	padding-left:30px;
}

.meats > div, .veggies > div {
	padding-left:30px;
}

.meat-options, .price {
	color:#DE2110;
}
	
input[type="radio" i], input[type=checkbox] {
	margin-right:10px;
}

.meat-options input, .veg-options input{
	margin-left:30px;
	margin-top: 10px;
}

.meat-options input:first-child, .veg-options input:first-child{
	margin-left:0;
}

.panel-title {
	text-align:center;
	font-size: 24px;
	color: #319400;
}

/* Footer */
.store-info, .notes {
	text-align:center;
	background:#DE2110;
	color: #FFF;
	border-top: 1px solid black;
	padding-top: 15px;
}

.store-info {
	padding-bottom: 15px;
}

.notes {
	padding-left:5%;
	padding-right:5%;
}

.notes p{
	font-size:16px;
}

.notes a {
	background: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 4px;
    color: #319400;
    font-size: 20px;
}

.store-info h4{
	margin-bottom: 10px;
}

/* Modal Windows */

.modal {
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.modal-dialog {
    width: auto;
    margin: 15px;
    position: absolute;
    margin-left: 4%;
    margin-right: 4%;
    left: 0;
    right: 0;
}

.modal-title {
	font-size:26px;
	text-align:center;
}

.modal-body h2 {
	font-size: 22px;
    color: #5e9f3f;
    margin-top: 0px;
    text-align: center;
}

.modal-header {
    padding: 10px 15px 5px;
}

#receipt {
	padding-right:0 !important;
}

.receiptModal p {
	margin: 0 0;
    font-size: 18px;
	line-height: 1.4;
}

.modal-body p span {
	color:#DE2110;
}

.modal-body .total span {
	color:#319400;
}

.receiptModal .modal-footer button {
    margin: 5px auto;
}

.checkModal p, .clearModal p{
	text-align:center;
}

.modal-body .veg-row{
	padding-bottom:10px;
}

.modal-body .subtotal{
	border-top:1px solid #e5e5e5;
	padding:5px 0;
	font-weight:bold;
	font-size:22px;
}

.modal-body .total {
	padding-top:5px;
	font-weight:bold;
	font-size:22px;
}

.modal-body .col-xs-3 p{
	float:right;
}

.modal-open {
    overflow: scroll;
}

/* Media Queries */

@media screen and (min-width: 768px) {
	
	.price {
		padding-right:0;
	}

    .cheese-options p {
		margin-top:61px;
	}

	.meat-options p {
		margin-top: 70px;
	}
	
	.modal {
		width: 50%;
	}
}

@media screen and (min-width: 992px) {
	
	.info .addButton {
		padding-right: 15px;
		padding-top: 10px;
	}
	
	.info .info-container {
		padding-top: 10px;
	}
	
	.options .size-options form, .options .cheese-options form, .options .sauce-options form, .options .crust-options form {
		padding: 0 5% 3% 20px;
	}

	.meats > div, .veggies > div {
		padding-left:15px;
	}
}

@media screen and (min-width: 1200px) {
	
	.info .addButton{
		padding-right:50px;
		padding-top:18px;
	}
	
	.info .info-container {
		padding-left:48px;
		padding-top: 20px;
	}
}

/*
@media screen and (min-width: 1200px)

	.info .addButton {
		padding-top: 0px;
}

*/

